# Python & Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual Environment (NEVER push .venv to GitHub)
.venv/
venv/
.env

# Large Datasets & Model Weights
data/*.csv
models/*.pkl
models/*.bin

# OS Overhead
.DS_Store