# Python & Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments & IDEs
.venv/
venv/
ENV/
.env

# Large Datasets & Raw Outputs
data/*.csv
results/
*.zip

# ML Models & Serialized Binaries
models/
*.pkl
*.bin

# OS Overhead
.DS_Store
Thumbs.db